.bg-secondary {
    background-color: #1a237e !important;
}
.copyright {
    background-color: #0d1b3e;
}
.bg-primary {
    background-color: #1565c0 !important;
}
nav {
    font-weight: 700;
}
.img-card {
    height: 18vw;
    object-fit: cover;
}
body {
    background-color: #f8f9fc;
}